@import url("reset.css");

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #262c37;
}

.wrapper {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  flex: 1 1 auto;
  max-width: 25rem;
  display: grid;
  gap: 1.25rem;
  padding: 2.5rem;
  border-radius: 0.9375rem;
  background-color: #1b2028;
}

.form-sending {
  opacity: 0.5;
  pointer-events: none;
}

.form__input {
  height: 2.5rem;
  padding: 0.9375rem;
  width: 100%;
  border-radius: 0.3125rem;
}

textarea.form__input {
  height: 6.25rem;
  resize: vertical;
}

.form__options {
}
.options-form {
  display: grid;
  gap: 0.9375rem;
}
.options-form__title {
  color: #fff;
}
.options-form__item {
  position: relative;
}
.options-form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  opacity: 0;
}

.options-form__input:checked + .options-form__text::before {
  background-color: #0e69bf;
}

.options-form__input:focus-visible + .options-form__text::before {
  outline: 0.0625rem solid #fff;
}

.options-form__text {
  padding-left: 1.5625rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

.options-form__text::before {
  content: "";
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0625rem solid #1b2028;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: #fff;
}

.form__file {
}
.file-form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.0625rem;
  min-width: 0;
}

.file-form__item {
  flex: 0 0 auto;
  position: relative;
}

.file-form__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
}
.file-form__input:focus-visible + .file-form__button {
  outline: 0.0625rem solid #fff;
}

.button {
  border-radius: 0.3125rem;
  background-color: #0e5ba7;
  color: #fff;
  transition: all 0.3s;
}

.button:hover {
  background-color: #0e69bf;
}

.file-form__button {
  padding: 0.5rem 0.9375rem;
  border: 0.125rem solid #1b2028;
  cursor: pointer;
}

.file-form__name {
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.form__checkbox {
}
.checkbox-form {
  position: relative;
}
.checkbox-form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  opacity: 0;
}

.checkbox-form__input:checked + .checkbox-form__text::before {
  background-color: #0e69bf;
}

.checkbox-form__input:focus-visible + .checkbox-form__text::before {
 outline: 0.0625rem solid #fff;
}

.checkbox-form__text {
  padding-left: 1.5625rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

.checkbox-form__text::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0.9375rem;
  height: 0.9375rem;
  z-index: 2;
  border-radius: 0.1875rem;
  transition: all 0.3s;
  background-color: #fff;
  border: 0.0625rem solid #1b2028;
}

.form__button {
  height: 2.5rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.125rem;
}
